body,
html {
    background-color: gray;
    height: 100%;
}

.hide {
    display: none;
}

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    z-index: 11;
}

#layout {
    width: 100%;
    height: 100%;
    position: relative;
}

#subscriber {
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
    z-index: 11;
}

#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    top: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

.button {
    background-color: #4CAF50;
}

#buttonholder {
    position: absolute;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    left: 20px;
    z-index: 200;
}

#textchat {
    position: relative;
    width: 20%;
    float: right;
    right: 0;
    height: 95%;
    display: none;
    z-index: 200;
    background-color: #333;
}

#history {
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}

input#msgTxt {
    height: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 200;
}

#history .mine {
    color: #00FF00;
    text-align: right;
    margin-right: 10px;
}

#history .theirs {
    color: #00FFFF;
    margin-left: 10px;
}